.banner {
  background-image: url(../../../public/assets/images/homedonationbgrevise.jpg);
  background-size: cover;
  background-position: center;
}

.font-style {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 16px;
  line-height: 24px;
}
